
/build-7-Desktop_Qt_6_6_2_MinGW_64_bit-Debug
/Kursovaya/build-Kursovaya_OOP-Desktop_Qt_6_6_2_MinGW_64_bit-Debug
/Kursovaya/Kursovaya_OOP/build-Prac_OOP_KURS_CLIENT-Desktop_Qt_6_6_2_MinGW_64_bit-Debug
/6
/7
